/* font style */

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



/* universal style  */
section{
    margin-bottom: 120px;
    max-width: 1320px;
}
all-mar{
    margin-left: 140px;
    margin-right: 140px;
}
/* first-style */
.first-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
.first-container img{
    width: 1320px;
    height: 600px;
    position: relative;
}
.first-title{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin-top: 40px;
}
.first-title h5{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
}
.first-title h1{
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
}
/* second style */
.second-title{
    text-align: center;
    margin: auto;
}
.second-title h1{
    font-size: 88px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 48px;
}
.second-title h4{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 16px;
}
.second-title h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
    margin-top: 0;
}
.second-container img{
    display: block;
    margin: auto;
    width: 50%;
}
/* third style */
.third-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-container img{
    position: relative;
}
.third-description{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:absolute;
}
.third-title{
    width: 50%;
    text-align: left;
    color: white;
}
.third-title h2{
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
}
.third-title p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}
.third-title button{
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: transparent;
    border: none;
}
/* fourth style */
.fourth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(252, 191, 191), rgb(255, 255, 255));
    height: 482px;
}
.fourth-title{
    font-size: 32px;
    font-weight: 700;
}
.fourth-title h5{
    padding-bottom: 10px;
    margin: 10px;
}
.tcol{
    color: #FF0000;
}
.fourth-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}
button{
    background-color: #FF0000;
    color: white;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
}